.header {
	margin-bottom: 63px;
	text-align: center;
}

.header__language {
	margin: 24px 0 112px 0;
}

.header__title {
	margin-bottom: 12px;
}

.header__text {
	font-size: 20px;
	margin-bottom: 16px;
	text-align: center;
}

.header__btn {
	margin-bottom: 55px;
}
